@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Dirooz";
}

body {
  direction: rtl;
  margin: 0;
}

@font-face {
  font-family: "Dirooz"; /*Can be any text*/
  src: local("Dirooz"), url("./fonts/Dirooz.woff") format("woff");
}

.Toastify__toast {
  margin-top: 20px;
  width: 90%;
}
